{% extends 'base.html.twig' %}

{% block headerBackground %}
    <div class="header header-filter" style="background-image: url('{{ asset('Resources/assets/img/header-background.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>Gestion des colocations</h1>
                        <h3>Projet Symfony - L3 MIAGE - Université de Nantes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h2>Recherche</h2>
    <form class="form-horizontal" action="{{ path('searchLocation') }}" method="post" enctype="multipart/form-data">
        {{"locVille"|trans}}<input type="text" name="ville">
        {{"locLoyerCcM"|trans}} max<input type="text" name="loyer_cc_m">
        <input type="submit" class="btn btn-primary" value="Go">
    </form>
{% endblock %}
