{% extends 'base.html.twig' %}

{% block body %}
<body class="index-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <div class="logo-container">
                    {#<div class="logo">
                        <img src="assets/img/logo.png" alt="Creative Tim Logo" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>" data-placement="bottom" data-html="true">
                    </div>#}
                    <div class="brand">
                        Gestion Colocation
                    </div>
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <i class="material-icons">search</i> Rechercher une colocation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">add</i> Proposer une colocation
                    </a>
                </li>
                <li>
                    <a href="#" target="">
                        Connexion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('Resources/assets/img/header-background.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>Gestion des colocations</h1>
                        <h3>Projet Symfony - L3 MIAGE - Université de Nantes</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque, earum facere facilis laboriosam natus nesciunt nisi officiis quod sit sunt voluptate, voluptates. Eius excepturi, officiis? Excepturi, fugit praesentium. Et!</p>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2018 - Made by Simon ROUILLIER & Pierre FOUILLET - Université de Nantes
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
